.header{
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.header-right{
  display:flex;
  margin:0.5rem;
  width:20%;
  padding: 5px;
  border: 2px 2px 2px 2px;
}
.logo{
  padding: 2%;
  width: 29%;
  border: 2px 2px 2px 2px;
}
.logo-name{
  padding: 5px;
  width: 70%;
  border: 2px 2px 2px 2px;
}
.tagline{
  text-align: center;
  width:60%;
}
.header-left{
  display: flexbox;
  margin: 0.5rem;
  width: 20%;
  padding: 5px;
  border: 2px 2px 2px 2px;
}
.footer{
  height: 25vh;
  padding:5%;
  display: flex;
  padding: 2px;
  text-align: center;
  color: aliceblue;
  bottom: 100%;
  background-color: rgb(9, 35, 90);
}
.login-content{
  display: flex;
  text-align: center;
}